{
  "presets": [
    [ "@babel/preset-env", { "modules": false } ]
  ],
  "plugins": [ "transform-vue-jsx" ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [
        "transform-vue-jsx",
        "@babel/plugin-transform-runtime",
        "istanbul"
      ]
    }
  }
}
