{
  "presets": [
    [ "env", { "modules": false } ],
    "stage-2"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        [ "env", { "modules": false } ],
        "stage-2"
      ],
      "plugins": [ "transform-runtime", "istanbul" ]
    }
  }
}
