if process.env.NODE_ENV !== 'production'
  +section('Dev')

  +guide('Performance Test')
    :markdown-it
      Checkpoints:
        - Opening & closing the menu should be fast
        - Hovering the mouse over the list should be smooth
        - Select & deselect option should feel slappy
    +demo('PerformanceTest')
