if process.env.NODE_ENV !== 'production'
  +section('Dev')

  +subsection('Performance Test')
    :markdown-it
      Checkpoints:
        - Opening & closing the menu should be fast
        - Hovering the mouse over the list should be smooth
        - Select & deselect option should feel snappy
    +demo('PerformanceTest')


  +subsection('Modal Test')
    :markdown-it
      Checkpoints:
        - The modal uses `overflow: hidden` and the menu should not be clipped
        - When the size of the control changes, the position of the menu should be recalculated
        - When scrolling the page, the menu should be kept correctly positioned
    +demo('ModalTest')
