if NODE_ENV !== 'production'
  +section('Dev')

  +subsection('Performance Test')
    :markdown-it
      Checklist:
        - Opening & closing the menu should be fast
        - Hovering the mouse over the list should be smooth
        - Selecting & deselecting options should feel snappy
    +component('PerformanceTest')


  +subsection('Modal Test')
    :markdown-it
      Checklist:
        - The modal uses `overflow: hidden` and the menu should not be clipped
        - When the size of the control changes, the position of the menu should be recalculated
        - While scrolling the page, the menu should be kept correctly positioned
    +component('ModalTest')

  +subsection('Long Label Test')
    +component('LongLabelTest')
