+section('Introduction')

section
  :markdown-it
    [vue-treeselect](https://github.com/riophae/vue-treeselect) is a multi-select component with nested options for [Vue.js 2](https://www.vuejs.org), featuring:

    - Single select
    - Multiple select
    - Fuzzy searching
    - Delayed loading (load data of deep level options only when needed)
    - Keyboard support
    - Vuex support
    - Rich options & highly customizable
    - Supports [a wide range of browsers](https://github.com/riophae/vue-treeselect#browser-compatibility)

    *Requires Vue 2.2+*
