+section('Introduction')

section
  :markdown-it(html=true)
    [vue-treeselect](https://github.com/riophae/vue-treeselect) is a multi-select component with nested options support for [Vue.js](https://www.vuejs.org).

    - Single & multiple select with nested options support
    - Fuzzy matching
    - Async searching
    - Delayed loading (load data of deep level options only when needed)
    - Keyboard support (navigate using <kbd>Arrow Up</kbd> & <kbd>Arrow Down</kbd> keys, select option using <kbd>Enter</kbd> key, etc.)
    - Rich options & highly customizable
    - Supports [a wide range of browsers](https://github.com/riophae/vue-treeselect#browser-compatibility)

    *Requires Vue 2.2+*
