+section('Introduction')

section
  :markdown-it(html=true)
    [vue-treeselect](https://github.com/riophae/vue-treeselect) is a multi-select component with nested options for [Vue.js 2](https://www.vuejs.org), featuring:

    - Single & multiple select with nested options support
    - Fuzzy searching
    - Delayed loading (load data of deep level options only when needed)
    - Autocomplete
    - Keyboard support (navigate using <kbd>Arrow Up</kbd> & <kbd>Arrow Down</kbd> keys, select option using <kbd>Enter</kbd> key, etc.)
    - Rich options & highly customizable
    - Supports [a wide range of browsers](https://github.com/riophae/vue-treeselect#browser-compatibility)

    *Requires Vue 2.2+*
