include ./mixins

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title Vue-Treeselect
    meta(name="description" content="A multi-select component with nested options support for Vue.js")
    meta(property="og:title" content="Vue-Treeselect")
    meta(property="og:site_name" content="Vue-Treeselect")
    meta(property="og:url" content="https://vue-treeselect.js.org/")
    meta(property="og:description" content="A multi-select component with nested options support for Vue.js")
    meta(property="og:image" content="https://vue-treeselect.js.org/static/vue-logo.png")
    meta(property="twitter:title" content="Vue-Treeselect")
    meta(property="twitter:description" content="A multi-select component with nested options support for Vue.js")
    meta(property="twitter:image" content="https://vue-treeselect.js.org/static/vue-logo.png")
    link(rel="apple-touch-icon" sizes="57x57" href="/static/images/icons/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/static/images/icons/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/static/images/icons/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/static/images/icons/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/static/images/icons/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/static/images/icons/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/static/images/icons/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/static/images/icons/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/static/images/icons/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/static/images/icons/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/static/images/icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/static/images/icons/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/static/images/icons/favicon-16x16.png")
    meta(name="msapplication-TileImage" content="/static/images/icons/ms-icon-144x144.png")
    link(rel="icon" href="/static/vue-logo.png" type="image/png")
    meta(name="msapplication-TileColor" content="#4fc08d")
    meta(name="theme-color" content="#4fc08d")
    meta(name="msapplication-config" content="browserconfig.xml")
    if NODE_ENV === 'production'
      // Global site tag (gtag.js) - Google Analytics
      script(async src="https://www.googletagmanager.com/gtag/js?id=UA-108169693-1")
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-108169693-1');
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Dosis:300,500")
  body
    #app
      header.site-header
        div#header.container
          div.site-header-logo
            a.site-header-logo-link(href="https://vue-treeselect.js.org/")
              | Vue
              span.site-header-logo-component-name Treeselect
          nav.site-header-nav
            a.site-header-nav-item(href="https://github.com/riophae/vue-treeselect/releases")
              =`v${require('../package.json').version}`
            span.site-header-nav-item
              a.github-button(href="https://github.com/riophae/vue-treeselect" data-show-count="true" aria-label="Star riophae/vue-treeselect on GitHub")
                | Star
      div.container
        section#main
          div#sidebar
            include ./partials/sidebar
          div#content
            include ./partials/dev
            include ./partials/introduction
            include ./partials/getting-started
            include ./partials/guides
            include ./partials/api
      footer.site-footer
        div.container
          | Copyright &copy; 2017-#{new Date().getFullYear()} <a href="https://github.com/riophae">Riophae Lee</a>. MIT Licensed.
    script(src="https://buttons.github.io/buttons.js" async defer)

+renderToc()
